/*
Theme Name: Look Well At Home
Theme URI: http://aksgo.com/
Author: AKSGO
Author URI: http://aksgo.com
Description: The Beauty Saloon Services at your Door-Steps.
License: Split Licence
License URI: -
Version: 20.9.5.8

All css files are placed in /css/ folder
*/

.menu_wrapper a.responsive-menu-toggle {
    display: none !important;
}

.new-cart-form tr{
	margin:0 !important;
}
.woocommerce .product div.entry-summary .cart.margin0{
	margin: 0;
}
.new-cart-form tr td{
    width:150px;
    background:none !important;
    padding: 0;
}
.new-cart-form tr td .single_add_to_cart_button{
    float:none !important;
}
.new-cart-form{
    margin:0px;
}
.button-margin{
    margin-top:5px !important;
    margin-bottom:5px !important;
}




.myList li{ display:none;
}
.loadMore {
    color: #e7276f;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    float: left;
    width: 180px;
}
.loadMore:hover {
    color:black;
}
.showLess {
    color: #e7276f;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    display:none;
    width: 180px;
    float: left;
}
.showLess:hover {
    color:black;
}
.entry-summary .variations,
.entry-summary .single_variation_wrap{display: none !important;}
.product_cat-combo-packages .variations,
.product_cat-combo-packages .single_variation_wrap{display: block !important;}
.product_cat-offer-zone .single_variation_wrap{display: block !important;}
.product_cat-offer-zone .variations{display:block !important;}
.product-type-variable p.price{display: none;}
div#wpcs_tab_4925{top:68% !important;}


/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 10px !important;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
	margin-top:5px;
	margin-bottom:5px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 20px 0px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
#myList li{ display:none;
}
#loadMore {
    color: #e7276f;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
}
#loadMore:hover {
    color:black;
}
#showLess {
    color: #e7276f;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    display:none;
}
#showLess:hover {
    color:black;
}
.tab .tablinks.button{
	margin-top:5px;
	margin-bottom:5px;
}
.loadMore,.showLess{margin:5px;}
.wpcf7-dynamictext{
    width:100% !important;
}
@media only screen and (max-width: 767px){
.hidden-inmobile,#Subheader,.share_wrapper {display:none;}
}