/*
Theme Name: Look Well At Home
Theme URI: http://aksgo.com/
Author: AKSGO
Author URI: http://aksgo.com
Description: The Beauty Saloon Services at your Door-Steps.
License: Split Licence
License URI: -
Version: 20.9.5.8

All css files are placed in /css/ folder
*/

.menu_wrapper a.responsive-menu-toggle {
    display: none !important;
}

.new-cart-form tr{
	margin:0 !important;
}
.woocommerce .product div.entry-summary .cart.margin0{
	margin: 0;
}
.new-cart-form tr td{
    width:150px;
    background:none !important;
    padding: 0;
}
.new-cart-form tr td .single_add_to_cart_button{
    float:none !important;
}
.new-cart-form{
    margin:0px;
}
.button-margin{
    margin-top:5px !important;
    margin-bottom:5px !important;
}




.myList li{ display:none;
}
.loadMore {
    color: #e7276f;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    float: left;
    width: 180px;
}
.loadMore:hover {
    color:black;
}
.showLess {
    color: #e7276f;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    display:none;
    width: 180px;
    float: left;
}
.showLess:hover {
    color:black;
}
.entry-summary .variations,
.entry-summary .single_variation_wrap{display: none !important;}
.product_cat-combo-packages .variations,
.product_cat-combo-packages .single_variation_wrap{display: block !important;}
.product_cat-offer-zone .single_variation_wrap{display: block !important;}
.product_cat-offer-zone .variations{display:block !important;}
.product-type-variable p.price{display: none;}
div#wpcs_tab_4925{top:68% !important;}


/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 10px !important;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
	margin-top:5px;
	margin-bottom:5px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 20px 0px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
#myList li{ display:none;
}
#loadMore {
    color: #e7276f;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
}
#loadMore:hover {
    color:black;
}
#showLess {
    color: #e7276f;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    display:none;
}
#showLess:hover {
    color:black;
}
.tab .tablinks.button{
	margin-top:5px;
	margin-bottom:5px;
}
.loadMore,.showLess{margin:5px;}
.wpcf7-dynamictext{
    width:100% !important;
}
@media only screen and (max-width: 767px){
.hidden-inmobile,#Subheader,.share_wrapper {display:none;}
}
.inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
  border:1px solid #ca2a7a;
  margin-top: -67px;
  padding-right: 15px;
  padding-bottom: 25px;
}
ul.products li.product a img{
	border:1px solid #BD1470;
	width: 100%;
}
.products li h3.service-name{
	position: relative;
    bottom: 55px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    background-color: #bd1470b5;
    padding: 8px 0;
}
.inner h1.product_title.entry-title{
	font-size: 18px;
}
.inner ul{
	padding-left: 15px;
}
.inner ul li {
	list-style-type: circle;
 	margin-bottom: 5px;
}
.service-button{
	display:inline-block;
	margin-top: 10px;
    margin-bottom: 15px;
}
.service-button a{
	padding: 10px;
    max-width: 200px;
    font-weight: 900;
    cursor: pointer;
    border: 1px solid;
    color: #ca2a7a;
    background: #f8f8f8;
}
.service-active{display: block;}
.service-inactive{
	display: none;
}
.row.margin0{
	margin:0;
	margin-bottom:70px;
}
a.active-service{
	background-color: #ca2a7a;
	color: #fff;
}
.marginb50{
	margin-bottom: 80px;
}
.margint50{
	margin-top: 50px;
}
.center{
	text-align: center;
}
.btn.single_add_to_cart_button, 
button.single_add_to_cart_button,
.single_add_to_cart_button.added_to_cart, 
.tab-pane .form-submit .single_add_to_cart_button#submit{
    padding:3px;
}
.inner ul.myList1{
    padding-left:0;
    padding-bottom:0px;
}
.inner ul.myList1 li{
    list-style-type:none;
    border-bottom: 1px solid #ebe8e9;
}
.inner ul.myList1 li:last-child{
    border-bottom: none;
}
.font-bold{
    font-weight: 600;
    color: #953256;
    padding-right: 5px;
    word-break: break-word;
}
.onsale{
display:none;
}
li.cart-button{
text-align:center;
margin-top:25px;
}
#addtocart2{
    margin:0 auto;
    display: block;
    padding: 10px;
    margin-bottom: 50px;
}
.notice{
        text-align: center;
    font-size: 16px;
    color: green;
    width:80%;
    margin:0 auto;
}
.products li{
    margin-bottom:0 !important;
}
.inner.package .product{
    border-bottom: 1px solid #ddd;
}
.margin-60{margin-top:-60px !important;}
.loader{display:none;}
td.p-0{
    padding:0;
}
.price ins {
    
    display: block;
}
.table tbody tr td.product-price,.table tbody tr td.product-subtotal{padding:0;}
.alert .fa {
    font-size: 14px !important;
    
    margin-right: 0 !important;
    
}

@media (max-width: 470px){
    .table tbody tr td{
        padding: 19px 10px !important;
    }
    .shop_table thead tr th{
        padding: 19px 0px !important;
    }
    .shop_table.table .product-quantity{
        display:block !important;
    }
    form .quantity, #content .quantity{
        width:50px !important;
    }
    form .quantity input.qty, #content .quantity input.qty{
        width:25px !important;
    }
}
.product-offer-name,.myList1 h3{
    padding-top:15px;
    font-size:18px;
    font-weight:400;
}
.myList1 table tr:first-child td{
    background:none;
}
.text-center{
    text-align:center;
}
.myList1 table th, .myList1 table td{
    text-align:left;
    border:0;
}
.myList1 table td ul{
    margin-bottom:20px;
}
@media (max-width: 520px){
    #packages.container{
        padding-left: 15px!important;
        padding-right: 15px!important;
    }
    .inner ul.myList1{
        padding-bottom: 30px;
    }
    .product-offer-name, .myList1 h3{
        padding-top: 30px;
    }
}
@media (max-width: 325px){
    #packages.container,.container.service-cat{
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
}
